@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?bqb2fe');
  src:  url('../fonts/icomoon.eot?bqb2fe#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?bqb2fe') format('truetype'),
    url('../fonts/icomoon.woff?bqb2fe') format('woff'),
    url('../fonts/icomoon.svg?bqb2fe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e900";
}


body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
}


h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2px;
  color: white;
  margin: 0;
}
h1 strong {
  color: #83c006;
}
h2 {
  color: #83c006;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

h3{
  color: #83c006;
}

.hero {
  height: 300px;
  background-color: #1b2127;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-image{
  object-fit: cover;
}


.servicio {
  background: #fafafa;
  padding: 20px;
}

.contenedor1 {
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contenedor1-description {
  font-size: 20px;
}
.contenedor1 strong {
  font-family: 'Fjalla One', sans-serif;
}


.contenedor1-title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}


.contenedor1-details {
  width: 50%;
}

.contenedor1-imageContainer {
  width: 50%;
}

.contenedor1-imageContainer img {
  max-width: 100%;
}

.header {
  background-color: #000000;
  color: white;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.header a {
  color: white;
  text-decoration: none;
}
.menu {
  height: inherit;
}
.header ol {
  display: flex;
  height: inherit;
}
.header ol li {
  height: inherit;
}
.header a {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}


.trabajo-list {
  display: flex;
  flex-wrap: wrap;
}
.trabajo-list-title {
  margin-left: 20px;
}
.trabajo {
  margin: 1%;
  width: 48%;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background: #f4fbff;
}
.trabajo img {
  width: 480px;
  height: 200px;
  object-fit: cover;
}
.trabajo-detail {
  margin: 20px 40px;
  margin-top: -40px;
  background-color: white;
  position: relative;
  padding: 20px;
  text-align: center;
}
.trabajo-description {
  text-align: left;
}

.trabajo-url {
  color: #056fff;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.contact {
  background-color: #83c006;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#contacto div{
  justify-content: center;
}

.redes-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}

.redes-link.twitter {
  background-image: url('../images/twitter.svg');
}
.redes-link.facebook {
  background-image: url('../images/facebook.svg');
}
.redes-link.github {
  background-image: url('../images/github.svg');
}
.redes-link.instagram {
  background-image: url('../images/instagram.svg');
}


.container {
  max-width: 1000px;
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.burger-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .8);
  display: none;
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 4;
  left: 5px;
  top: 5px;
  color: white;
}


@media screen and (max-width: 1023px) {
  .trabajo-list-title {
    margin-left: 0;
  }
  .servicio {
    padding: 0;
  }
  .container {
    padding: 0 1em;
  }
  .hero {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
  }
  .hero-image {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  h1 {
    font-size: 2em;
    z-index: 2;
  }
}


@media screen and (max-width: 767px) {
  h2 {
    font-size: 1.2em;
    margin: .5em 0;
  }
  .burger-button {
    display: block;
  }
  .header {
    display: block;
    height: auto;
  }
  .header ol {
    display: block;
  }
  .header ol li {
    height: 50px;
  }
  .header a {
    justify-content: center;
    height: 40px;
    font-size: 2em;
    text-decoration: underline;
    margin-bottom: .5em;
  }
  .header .logo {
    text-align: center;
  }

  .menu {
    position: fixed;
    background: rgba(5, 111, 255, .9);
    z-index: 3;
    top: 0;
    left: -100vw;
    width: 100vw;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
  }
  .menu.is-active {
    left: 0;
  }

  .hero img{
    display: none;
  }

  .contenedor1 {
    display: block;
  }
  .contenedor1-imageContainer {
    width: auto;
    text-align: center;
  }
  .contenedor1-details {
    width: auto;
  }

  .contenedor1-title {
    font-size: 1.5em;
    margin-bottom: .3em;
  }

  .contenedor1-description {
    font-size: 1em;
  }

  .trabajo {
    width: auto;
    flex-shrink: initial;
  }

  .trabajo img {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }
  .contenedor1-details {
    font-size: 14px;
  }

  .trabajo-detail {
    margin: -2em .5em .5em;
    padding: 1em;
  }

  .contact {
    height: auto;
    padding: 1.5em 0;
    text-align: center;
    display: block;
  }

  .redes-link {
    width: 40px;
    height: 40px;
    background-size: 100%;
  }
}
